# ---- Python ----
__pycache__/
*.pyc
*.pyo
*.pyd

# ---- Virtual environments ----
.venv/
venv/
env/

# ---- VS Code ----
.vscode/

# ---- OS ----
.DS_Store
Thumbs.db

# Bioinformatics data
*.fasta
*.fa
*.fq
*.fastq
*.bam
*.sam
*.vcf
*.gz
